/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.header {
  text-align: center;
  margin: 20px auto;
  width: 90%;
}

.header h2 {
  font-family: 'Snell Roundhand';
  color: rgb(206, 77, 65);
  margin-bottom: 3.5px;
}

.header h1 {
  font-family: "Luminari";
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header h3 {
  font-family: 'Luminari';
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
}

.food {
  display: flex;
  padding: 50px;
}

.food div {
  text-align: justify;
}

.food img {
  border-radius: 10%;
  margin-right: 10px;
}

.item {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: flex-start;
  
}

.item h1{
  font-family: 'URW Chancery L', cursive;
  font-size: 32px;
  color:rgb(115, 42, 194);
  font-weight: bold;
  margin-bottom: 0px;
}

.item h2{
  font-family: 'Georgia', serif;
  font-size: 20px;
  color:#0078a3;
  margin-bottom: 0px;
}

.image {
  width: 120px;
  height: 150px; 
}

.price {
  text-align: left;
  color: #000000;
  font-weight: bold;
}

.button {
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #8efff2; 
  color: #000000;
  box-shadow: 3px 3px 10px rgba(8, 247, 44, 0.3); 
}

.button img {
  width: 25px;
}

.container {
  justify-content: center;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .food {
    justify-content: left;
  }
  .food img{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .food .item{
    margin-left: 0px !important;
  }
  .descriptor img {
    width: 40px;
  }
  .button img {
    width: 10px;
    padding: 0px;
    margin-right: 30px;
  }
  .container {
    padding: 0px;
    margin-right: 30px;
  }
}
